
#bottom {
    margin-right: -1000px;
}
.file-results {
    margin-bottom: 25px;
}
.results-file-name {
    font-weight: bold;
    margin: 12px;
}
.skipped {
    font-size: 14px;
    width: 36ch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .5;
    margin: 12px;
}
.skipped .button {
    user-select: none;
}
pre {
    margin: 0;
    padding-left: 12px;
}
pre.match {
    font-weight: bold;
}
pre.context {
    background: whitesmoke;
}
